body {
    font-family: $thm_font;
    font-size: 16px;
    line-height: 34px;
    color: #666e82;
}



a:active,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}

@media(min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.thm-black-bg {
    background-color: $thm_black;
}

.thm-base-bg {
    background-color: $thm_base_color;
}

.thm-gray-bg {
    background-color: #F3F3F3;
}

hr.style-one {
    margin: 0;
    border-top: 1px solid #EAEAEA;
}


.block-title {
    margin-bottom: 60px;
}
.block-title__text {
    margin: 0;
    font-weight: bold;
    color: #2E3D62;
    font-size: 50px;
    line-height: 60px;
    span {
        position: relative;
        &:before {
            content: '';
            background-color: rgb(255, 130, 87);
            opacity: 0.102;
            width: 100%;
            height: 8px;
            position: absolute;
            bottom: 12px;
            left: 0;
            border-radius: 4px;
        }
    }
}

.icon-revresed {
    transform: rotate(180deg);
    display: inline-block;
}

.bootstrap-select {

    .btn-light:not(:disabled):not(.disabled).active,
    .btn-light:not(:disabled):not(.disabled):active,
    .show>.btn-light.dropdown-toggle {
        background-color: transparent;
        box-shadow: none !important;
        outline: none;
    }

    >.dropdown-toggle {
        box-shadow: none !important;
    }

    .dropdown-toggle:focus,
    >select.mobile-device:focus+.dropdown-toggle {
        outline: none !important;
    }
}

.bootstrap-select .dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    z-index: 991;

    >li {
        +li>a {
            border-top: 1px solid #eee;
        }

        &:first-child>a {
            padding-top: 10px;
        }

        &:last-child>a {
            padding-bottom: 10px;
        }

        &.selected>a {
            background: $thm_base_color;
            color: #fff;
        }

        >a {
            font-size: 16px;
            font-weight: 500;
            padding: 9px 20px;
            color: $thm_black;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;

            &:hover {
                background: $thm_base_color;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    background-image: url(../images/preloader.gif);
    background-repeat: no-repeat;
    background-position: center center;
}


.scroll-to-top {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: $thm_base_color;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    text-align: center;
    transition: all .4s ease;
    display: none;
    border-radius: 50%;
    transition: all .4s ease;

    &:hover {
        background-color: #9364D4;
    }

    i {
        color: #fff;
        font-size: 18px;
        line-height: 45px;
    }

}