{
  "name": "brook",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "scss/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "style.css",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/style.scss",
      "imports": [
        "scss/default/_variables.scss",
        "scss/default/_mixins.scss",
        "scss/default/_reset.scss",
        "scss/default/_typography.scss",
        "scss/default/_animations.scss",
        "scss/default/_shortcode.scss",
        "scss/elements/_button.scss",
        "scss/elements/_section-title.scss",
        "scss/elements/_service.scss",
        "scss/elements/_counterup.scss",
        "scss/elements/_team.scss",
        "scss/elements/_wavify.scss",
        "scss/elements/_brand.scss",
        "scss/elements/_blog-list.scss",
        "scss/elements/_contact.scss",
        "scss/elements/_about.scss",
        "scss/elements/_call-to-action.scss",
        "scss/elements/_slick-arrow.scss",
        "scss/elements/_motivational-archive.scss",
        "scss/elements/_social.scss",
        "scss/elements/_shortnote.scss",
        "scss/elements/_flexable-image-slide.scss",
        "scss/elements/_carousel-slider.scss",
        "scss/elements/_countdown.scss",
        "scss/elements/_progress-charts.scss",
        "scss/elements/_gallery.scss",
        "scss/elements/_gradation.scss",
        "scss/elements/_typed-text.scss",
        "scss/elements/_politic.scss",
        "scss/elements/_pricing-plans.scss",
        "scss/elements/_career.scss",
        "scss/elements/_maintenance.scss",
        "scss/elements/_contagion.scss",
        "scss/elements/_testimonial.scss",
        "scss/elements/_404.scss",
        "scss/elements/_tabs.scss",
        "scss/elements/_player.scss",
        "scss/components/_video.scss",
        "scss/components/_breadcaump.scss",
        "scss/components/_instagram.scss",
        "scss/components/_popup.scss",
        "scss/components/_shopping-cart.scss",
        "scss/components/_mega-menu.scss",
        "scss/components/_toolbar.scss",
        "scss/components/_typography.scss",
        "scss/components/_list.scss",
        "scss/components/_pricing-box.scss",
        "scss/components/_icon-boxes.scss",
        "scss/components/_dividers.scss",
        "scss/components/_message-box.scss",
        "scss/components/_accordion.scss",
        "scss/components/_googlemap.scss",
        "scss/components/_rows-column.scss",
        "scss/components/_info-boxes.scss",
        "scss/components/_loader.scss",
        "scss/components/_demo-option.scss",
        "scss/portfolio/_portfolio-grid.scss",
        "scss/portfolio/_portfolio-grid-metro.scss",
        "scss/portfolio/_portfolio-caption.scss",
        "scss/portfolio/_mesonry-button.scss",
        "scss/portfolio/_paralax.scss",
        "scss/portfolio/_has-center.scss",
        "scss/portfolio/_type-hover.scss",
        "scss/portfolio/_portfolio-details.scss",
        "scss/blog-grid/_blod-grid.scss",
        "scss/blog-grid/_pagination.scss",
        "scss/blog-grid/_blog-mesonry.scss",
        "scss/blog-grid/_blog-grid-no-flex.scss",
        "scss/blog-grid/_blog-grid-minimal.scss",
        "scss/blog-grid/_blog-details.scss",
        "scss/blog-grid/_blog-sidebar.scss",
        "scss/shop/_shop-sidebar.scss",
        "scss/shop/_single-product.scss",
        "scss/shop/_cart.scss",
        "scss/shop/_checkout.scss",
        "scss/shop/_compare.scss",
        "scss/shop/_my-account.scss",
        "scss/shop/_vertical-slide.scss",
        "scss/shop/_login.scss",
        "scss/shop/_table-form.scss",
        "scss/template/_header.scss",
        "scss/template/_sidebar-header.scss",
        "scss/template/_navigation.scss",
        "scss/template/_banner.scss",
        "scss/template/_feature.scss",
        "scss/template/_startup-service.scss",
        "scss/template/_freelancer.scss",
        "scss/template/_hamber-menu.scss",
        "scss/template/_left-vertical-header.scss",
        "scss/template/_fullscreen-slider.scss",
        "scss/template/_sidebar-mobilemenu.scss",
        "scss/template/_header-broadsheets.scss",
        "scss/template/_onepage.scss",
        "scss/template/_foodie.scss",
        "scss/template/_portfolio-slide.scss",
        "scss/template/_photo-slide.scss",
        "scss/template/_vertical-slide.scss",
        "scss/template/_musician.scss",
        "scss/template/_vertical-slider-portfolio.scss",
        "scss/template/_shop-slide.scss",
        "scss/template/_product.scss",
        "scss/template/_revulution.scss",
        "scss/template/_presentation.scss",
        "scss/template/_footer.scss",
        "scss/color/_color-2.scss",
        "scss/color/_font-variation.scss",
        "scss/color/_preview.scss",
        "scss/color/_responsive.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}