/*==========================
    Table Form CSS
============================*/

.book-table-form{
    margin-bottom: -170px;
    padding-top: 55px;
    padding-right: 85px;
    padding-bottom: 66px;
    padding-left: 85px;
    box-shadow: 0 0 40px rgba(51,51,51,0.06);   
    background-color: #fff;
    // Responsive
    @media #{$sm-layout}{
        padding: 15px;
    }
}

.single-input{
    input{
        border: 0;
        border-bottom: 2px solid #eee;
        background: none;
        padding-left: 0;
        padding-right: 0;
        height: 50px;
        padding: 3px 20px;
        color: #777;
        line-height: 1.75;
        font-size: 16px;
    }
    select{
        border: 0;
        border-bottom: 2px solid #eee;
        background: none;
        padding-left: 0;
        padding-right: 0;
        height: 50px;
        padding: 3px 20px;
        color: #777;
        line-height: 1.75;
        font-size: 16px; 
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
}
.table-notice{
    p{
        line-height: 1.75;
        font-size: 16px; 
        color: #777;
        margin-bottom: 0;
    }
}