@media (max-width: 992px) {
    .element-item-25 {
        width: 33.333333333333%;
    }
}

@media (max-width: 768px) {
    .portfolio,
    .testimonians {
        padding-bottom: 30px;
    }
    .contact {
        padding-bottom: 0px;
    }
    .brands {
        padding: 15px 0 15px;
    }
    .services,
    .about,
    .blog {
        padding-bottom: 20px;
    }
    .element-item-25,
    .element-item-33{
        width: 50%;
    }
    footer * {
        text-align: center;
    }
    .footer-social-icon {
        text-align: center;
    }
    .footer-mail {
        float: none;
    }
    .submit {
        margin: 0 35% 0 35%;
        width: 30%;
        height: 50px;
    }
    .subscribe-sbmt {
         width: 100%;
        margin: 0;
    }
    .stats-item {
        text-align: center;
    }
    .service-box {
        text-align: center;
    }
    .section-title {
        text-align: left;
    }
    .s-title-descr p {
        text-align: left;
        margin-top: 0;
    }
    .social-icons {
        display: none;
    }
    .navbar ul li a {
        padding: 15px 7px;
    }
    .hidden-social {
        display: block;
    }
    .hidden-social ul li,
    .hidden-social ul li a {
        padding-right: 7px;
        margin: 0;
    }
    header {
        height: 80vh;
    }
    .main-title {
        margin-top: 30vh;
    }
    .navbar ul li a {
        border-top: dashed 2px transparent;
    }
    .navbar ul li .active {
        border-top: dashed 2px #BBC4C8;
        border-bottom: dashed 2px #BBC4C8;
    }
}

@media (max-width: 500px) {
    .element-item-50,
    .element-item-25,
    .element-item-33{
        width: 100%;
    }
    .popup-window {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }
}
