/* =====================
    Google Map Area 
========================*/









/*Google Map Area css*/
#htmap {
    width: 100%;
    height: 400px;
}

.gmap-marker-wrap {
    padding: 20px;
}

.gmap-marker-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
}

.gmap-marker-content {
    font-size: 14px;

    i {
        font-size: 15px;
        margin-right: 5px;
        color: $theme-color;
    }
}
.gm-style .gm-style-iw {
    box-shadow: 0 30px 30px rgba(0,0,0,.12);
}



.animated-dot {
    width: 100%;
    height: 100%;
    left: -9px;
    top: -5px;
    position: relative;
    background-color: $theme-color;

    .middle-dot {
        width: 12px;
        height: 12px;
        border-radius: 30px;
        position: absolute;
        left: 2px;
        top: 2px;
        transform-origin: 50% 50%;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        background-color: $theme-color;

        &::after {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            content: ' ';
            background-color: #fff;
            border-radius: 30px;
            z-index: 100;
            opacity: 0;
            animation: animationSignal2 cubic-bezier(0, 0.55, 0.55, 1) 2s;
            transform-origin: 50% 50%;
            animation-fill-mode: forwards;
            animation-delay: 0.78s;
            animation-iteration-count: infinite;
        }
    }

    .signal {
        width: 180px;
        pointer-events: none;
        height: 180px;
        border-radius: 200px;
        position: absolute;
        left: -80px;
        top: -80px;
        opacity: 0;
        -webkit-animation: animationSignal cubic-bezier(0, 0.55, 0.55, 1) 2s;
        animation: animationSignal cubic-bezier(0, 0.55, 0.55, 1) 2s;
        transform-origin: 50% 50%;
        animation-fill-mode: forwards;
        animation-delay: 0.78s;
        animation-iteration-count: infinite;
        background-color: $theme-color;
    }

    .signal2 {
        width: 180px;
        height: 180px;
        pointer-events: none;
        border-radius: 200px;
        position: absolute;
        left: -80px;
        top: -80px;
        opacity: 0;
        -webkit-animation: animationSignal cubic-bezier(0, 0.55, 0.55, 1) 2s;
        animation: animationSignal cubic-bezier(0, 0.55, 0.55, 1) 2s;
        transform-origin: 50% 50%;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        background-color: $theme-color;
    }

    &.red-color{
        background-color: $red-color;
        .middle-dot {
            background-color: $red-color;
        }
        .signal {
            background-color: $red-color;
        }
        .signal2 {
            background-color: $red-color;
        }
    }
    &.light-color{
        background-color: $white !important;
        .middle-dot{
            width: 15px;
            height: 15px;
            border: 2px solid $white;
            &::after{
                animation: animationSignal2 cubic-bezier(0, 0.10, 0.10, 0.25) 2s;
                transform-origin: 50% 50%;
                animation-fill-mode: forwards;
                animation-delay: 0.78s;
                animation-iteration-count: infinite;
            }
        }
        .signal {
            background-color: $white !important;
            animation: animationSignalTwo cubic-bezier(0, 0.10, 0.10, 0.25) 2s;
            transform-origin: 50% 50%;
            animation-fill-mode: forwards;
            animation-delay: 0.78s;
            animation-iteration-count: infinite;
        }
        .signal2 {
            background-color: $white !important;
            animation: animationSignalTwo cubic-bezier(0, 0.20, 0.20, 0.25) 2s;
            transform-origin: 50% 50%;
            animation-fill-mode: forwards;
            animation-delay: 1s;
            animation-iteration-count: infinite;
        }
        
    }

}

@-webkit-keyframes animationSignal {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    1% {
        opacity: 0.25;
    }

    20% {
        opacity: 0.25;
    }

    60% {
        transform: scale(1);
        opacity: 0;
    }
}


@-webkit-keyframes animationSignal2 {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0.2;
    }

    20% {
        opacity: 0.17;
    }

    60% {
        opacity: 0;
    }
}


@keyframes animationSignal {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    1% {
        opacity: 0.25;
    }

    20% {
        opacity: 0.25;
    }

    60% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes animationSignalTwo {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    1% {
        opacity: 0.25;
    }

    20% {
        opacity: 0.25;
    }

    60% {
        transform: scale(0.5);
        opacity: 0;
    }
}


@keyframes animationSignal2 {
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0.2;
    }

    20% {
        opacity: 0.17;
    }

    60% {
        opacity: 0;
    }
}






















