/* ===================
Pre Loader 
======================*/

.page-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    background: #ffffff;
}

.page-load-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.preloader-wrap {
    display: table;
    width: 100%;
    height: 100%
}

.wrap-2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

body.loaded .page-loading {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}

.page-loading {
    -webkit-transition: all 1s;
    transition: all 1s
}























