/* =====================
Pricing Box 
========================*/


.procing-wrap{
    margin-left: auto;
    margin-right: auto;
}

.procing-box{
    padding: 62px 40px 60px;
    position: relative;
    background-color: #fff;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    height: 100%;
    margin-bottom: 0;
    &.active{
        padding: 106px 40px 80px;
    }
    .header{
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
        margin-bottom: 38px;
    
        .feature-mark{
            background-color: $theme-color;
            display: block;
            padding: 5px 18px 5px 10px;
            position: absolute;
            top: 44px;
            left: -4px;
            text-transform: uppercase;
            font-size: 10px;
            line-height: 1.4;
            font-weight: 600;
            color: #fff;
            &::before{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                border-right: 9px solid #fff;
                border-top: 12px solid transparent;
                border-bottom: 12px solid transparent;
            }
        }
        .price{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            h3{
                &.currenct{
                    font-size: 18px;
                    margin-bottom: 0;
                }
                &.heading{
                    font-size: 48px;
                    line-height: .9;
                    margin: 0 4px;
                    font-weight: 600;
                }
            }
        }
    }
    .content{
        h5{
            &.heading{
                margin-bottom: 21px;
            }
        }
    }
    .footer{

    }
}


// Pricing Style Style 3

.price-style-3{
    .procing-box{
        position: relative;
        margin: 0 auto;
        background-color: $white;
        box-shadow: 0 20px 50px rgba(0,0,0,.05);
        padding: 25px 35px 37px;
        transition: all 0.3s ease-in-out;
        .header{
            padding-bottom: 33px;
            border-bottom: 1px solid #eee;
            margin-bottom: 23px;
            .price-area{
                .header-title{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .pricing-feature-mark{
                        order: 2;
                        display: block;
                        padding: 3px 10px;
                        font-size: 11px;
                        font-weight: 700;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        text-align: center;
                        background: #efefef;
                        line-height: 1.75;
                        margin-bottom: 15px;
                    }
                    .title{
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 1.34;
                        margin-bottom: 15px;
                        order: 1;
                    }
                }
                
                .price-wrap{
                    h3 {
                        font-size: 40px;
                        line-height: 1.275;
                        margin: 0;
                        font-weight: 600;
                    }
                }
                .period{
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.67;
                    color: inherit;
                    width: 100%;
                    margin: 10px 0 0;
                }
            }
        }
    }
    &:hover{
        .procing-box{
            transform: translateY(-5px);
        }
    }
}

.more-pricing{
    text-align: center;
    p{
        font-size: 16px;
        line-height: 1.75;
        color: #777;
        a{
            color: #68AE4A;
            position: relative;
            padding: 2px 0;
            overflow: hidden;
            z-index: 1;
            &::after{
                content: "";
                position: absolute;
                height: 1px;
                bottom: 0;
                width: 100%;
                right: 0;
                left: auto;
                z-index: -2;
                background: #ddd;
                transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
            }
            &::before{
                content: "";
                width: 0;
                height: 1px;
                bottom: 0;
                position: absolute;
                left: auto;
                right: 0;
                z-index: -1;
                -webkit-transition: width 1s cubic-bezier(.25,.8,.25,1) 0s;
                transition: width 1s cubic-bezier(.25,.8,.25,1) 0s;
                background: currentColor;
            }
            &:hover{
                &::before{
                    width: 100%;
                    left: 0;
                    right: auto;
                }
            }
        }
    }
}























