/* ============================
    Political Area 
    http://prntscr.com/m3ajf8
=================================*/

.margin-50 {
    position: relative;
  
    &::before {
      position: absolute;
      content: "";
      max-width: 1320px;
      height: 110px;
      z-index: 9;
      background: #fff;
      top: -50px;
      left: 0;
      right: 0;
      text-align: center;
      margin: auto;
    }
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .margin-50::before {
      max-width: 992px;
      height: 110px;
      top: -70px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .margin-50::before {
      display: none;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .margin-50::before {
      display: none;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .margin-50::before {
      display: none;
    }
  }
  
  .box-shadow-title {
    margin-top: -50px;
    padding: 80px 0;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    background-color: #fff;
  }
  
  .max-width-720 {
    max-width: 720px;
    margin: auto;
    font-size: 16px;
    line-height: 30px;
  }