/*==========================
 * Section Title
============================*/


.section-title {
    h3 {
        color: $theme-color;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 1.43;
        font-family: $body-font;
        margin-bottom: 39px;
        @media #{$sm-layout} {
            margin-bottom: 16px;
        }
    }

    h2 {
        font-size: 48px;
        line-height: 1.25;
        margin-bottom: 0;
        word-wrap: break-word;
        max-width: 100%;
        color: #222222;
        
        @media #{$lg-layout} {
            font-size: 38px;
        }

        @media #{$md-layout} {
            font-size: 38px;
            br{
                display: none;
            }
        }

        @media #{$sm-layout} {
            font-size: 30px;
            br{
                display: none;
            }
        }
    }

    &.white-text {
        h3 {
            color: #ffffff;
        }

        h2 {
            color: #ffffff;
        }
    }

    &--2 {
        h2 {
            font-size: 48px;
            line-height: 1.32;
            font-weight: 700;
            color: #222222;
            font-family: $heading-font;
        }
    }
    &.normal-text{
        & h2{
            font-weight: 400;
        }
    }
}

.brook-section-title-restaurant{
   h3{
    font-size: 40px;
    line-height: 1.4;
    font-weight: 400;
    font-family: $comic-sans !important;
    margin-bottom: 0;
    // Responsive
    @media #{$lg-layout}{
        font-size: 28px;
    }
    @media #{$md-layout}{
        font-size: 28px;
    }
    @media #{$sm-layout}{
        font-size: 28px;
    }
   } 
   .title{
        font-size: 46px;
        line-height: 1.22;
        letter-spacing: 3px;
        font-weight: 700;
        font-family: $CerebriSans !important;
        text-transform: uppercase;
        margin-bottom: 0;
        // Responsive
        @media #{$lg-layout}{
            font-size: 34px;
        }
        @media #{$md-layout}{
            font-size: 34px;
        }
        @media #{$sm-layout}{
            font-size: 34px;
        }
   }
}
.brook-section-title-business{
    h5{
        font-size: 18px;
        font-family: $spectral-font !important;
        line-height: 1.29;
        font-weight: 600 !important;
        text-transform: capitalize !important;
        font-style: italic;
        color: rgba(17,17,17,0.4);
    }
    h3{
        font-size: 46px;
        margin-bottom: 0;
        // Responsive
        @media #{$lg-layout}{
            font-size: 32px;
        }
        @media #{$md-layout}{
            font-size: 28px;
        }
        @media #{$sm-layout}{
            font-size: 26px;
        }
    }
    .separator{
        &::after{
            content: "";
            display: inline-block;
            margin-top: 39px;
            width: 80px;
            height: 2px;
            background-image: linear-gradient(90deg,rgba(159,57,57,0),rgba(159,57,57,.8),rgba(159,57,57,0));
        }
    }
}
.brook-section-title-corona{
    h2{
        font-size: 50px;
        line-height: 65px;
        font-weight: 700;
        color: $theme-color;
        // Responsive
        @media #{$lg-layout}{
            font-size: 40px;
            line-height: 50px;
        }
        @media #{$md-layout}{
            font-size: 40px;
            line-height: 50px;
        }
        @media #{$sm-layout}{
            font-size: 30px;
            line-height: 40px;
        }
    }
    p{
        font-size: 18px;
        line-height: 34px;
        font-family: $roboto;
        font-weight: 400;
        margin-bottom: 0;
        br{
        @media #{$sm-layout}{
            display: none;
        }
        }
        // Responsive
        @media #{$lg-layout}{
            font-size: 16px;
            line-height: 28px;
        }
        @media #{$md-layout}{
            font-size: 16px;
            line-height: 28px;
        }
        @media #{$sm-layout}{
            font-size: 14px;
            line-height: 24px;
        }
    }
}
.group-link{
    
    a{
        position: relative;
        font-size: 18px;
        font-family: $CerebriSans;
        color: $heading-color;
        position: relative;
        padding: 2px 0;
        overflow: hidden;
        z-index: 1;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        &::before{
            content: "";
            width: 0;
            height: 1px;
            bottom: 0;
            position: absolute;
            left: auto;
            right: 0;
            z-index: -1;
            -webkit-transition: width 1s cubic-bezier(.25,.8,.25,1) 0s;
            transition: width 1s cubic-bezier(.25,.8,.25,1) 0s;
            background: currentColor;
        }
        &::after{
            width: 100% !important;
            right: 0 !important;
            left: auto !important;
            z-index: -2;
            background:#ddd;
            content: "";
            height: 1px;
            bottom: 0;
            position: absolute;
            transition: width .6s cubic-bezier(.25,.8,.25,1) 0s;
        }
        &:hover{
            color: $heading-color;
            &::before{
                width: 100%;
                left: 0;
                right: auto;
            }
        }
    }
}
.view-btn{
    & a{
        position: relative;
        padding: 5px 0;
        display: inline-block;
        border: 0;
        background-color: transparent;
        font-weight: 600;
        font-size: 16px;
        color: #111;
        text-transform: uppercase;
        font-family: $CerebriSans;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background:#eee;
            transition: all .3s cubic-bezier(.645,.045,.355,1);
        }
        &::after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            opacity: 0;
            background: currentColor;
            transform: translateY(10px);
            transition: all .3s cubic-bezier(.645,.045,.355,1);
        }
        &:hover{
            color: #9F3939;
            &::after{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}
.color-white{
    color: $white;
}
.colo-gray{
    color: rgba(255,255,255,0.4) !important;
}


/* Title SEparator */

.title-separator{
    display: block;
    line-height: 0px;
    &::after{
        content: "";
        display: inline-block;
        height: 3px;
        border-radius: 3px;
    }

    &.w--80{
        &::after{
            width: 80px;
        }
    }
    &.w--90{
        &::after{
            width: 90px;
        }
    }
    &.w--100{
        &::after{
            width: 100px;
        }
    }
    &.w--200{
        &::after{
            width: 200px;
        }
    }

    &.color-red{
        &::after{
            background: $red-color;
        }
    }
    &.color-blue{
        &::after{
            background: $theme-color;
        }
    }
}

/*=====================================
Creative Agency Section Title 
=======================================*/

.theme-creative {
    background-color: #FE378C;
    font-style: italic;
    font-weight: 700;
    background-color: #FE378C;
    background-image: linear-gradient(-133deg, #FE5B34 0, #FE378C 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.section-title--between {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .title {
        h3 {
            font-size: 48px;
            line-height: 1.21;
            color: #fff;
            margin-bottom: 0;
            word-wrap: break-word;
            max-width: 100%;
            font-family: 'Montserrat', sans-serif;

            span {
                font-family: 'Playfair Display', serif;
                font-style: italic;
                font-weight: 700;
            }
        }
    }

    .section-btn {
        a {
            &.button-text {
                font-weight: 600;
                font-size: 14px;
                color: #fff;
                font-family: $body-font;
                white-space: nowrap;
                line-height: 1.2;

                i {
                    padding-left: 20px;
                    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
                    transition: all .3s cubic-bezier(.645, .045, .355, 1);
                    font-size: 12px;
                }

                &:hover {
                    i {
                        -webkit-transform: translate(5px, -0);
                        -ms-transform: translate(5px, -0);
                        transform: translate(5px, -0);
                    }
                }
            }
        }
    }
}

.title--creative {
    h3 {
        &.heading {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            line-height: 1.43;
            margin-bottom: 0;
            word-wrap: break-word;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 34px;
            color: #ffffff;
        }
    }

    h2 {
        font-size: 48px;
        line-height: 1.21;
        color: #fff;
        max-width: 470px;
        font-family: 'Montserrat', sans-serif;

        span {
            font-family: 'Playfair Display', serif;
            font-style: italic;
            font-weight: 700;
        }

        @media #{$sm-layout} {
            br{
                display: none;
            }
        }

        @media #{$md-layout} {
            br{
                display: none;
            }
        }

    }

    p {
        font-size: 18px;
        line-height: 1.67;
        color: #ffffff;
        margin-bottom: 45px;
        word-wrap: break-word;
        max-width: 100%;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        margin-top: 30px;
    }
}